.sFont {
  margin: 0;
  font-size: 10px;
  font-weight: normal;
}
.normalFont {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}
.normalFontHav {
  margin: 0;
  font-size: 23px;
  font-weight: bolder;
}
.normalFontHavW {
  color: #f53535;
  margin: 0;
  font-size: 23px;
  font-weight: bolder;
}
.XFont {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
.XlFont {
  margin: 0;
  font-size: 25px;
  font-weight: normal;
}
.XXFont {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
}
.XXXFont {
  margin: 0;
  font-size: 40px;
  font-weight: normal;
}
.outerMostBox {
  width: 75em;
}
.outerSecondBox {
  width: 75em;
}
.smallIcon {
  width: 15px;
  height: 15px;
}
.XLIcon {
  width: 20px;
  height: 20px;
}
.Publisher {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
}
.Publisher .text {
  color: #808080;
  text-decoration: none;
}
