@import "../../publishCss.less";
.bigBox{
    .flexStyleRow()
}
.eachBox{
    width: 100%;
    height: 3em;
    .flexStyleRow();
}
.fristImage{
    width: 100%;
    margin:0;
    overflow:hidden;
}
.clumBox{
        .flexStyleClum();
        width: 30%;
}
.secondImage{
        width: 90%;
        height: 50;
}
