.sFont {
  margin: 0;
  font-size: 10px;
  font-weight: normal;
}
.normalFont {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}
.normalFontHav {
  margin: 0;
  font-size: 23px;
  font-weight: bolder;
}
.normalFontHavW {
  color: #f53535;
  margin: 0;
  font-size: 23px;
  font-weight: bolder;
}
.XFont {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
.XlFont {
  margin: 0;
  font-size: 25px;
  font-weight: normal;
}
.XXFont {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
}
.XXXFont {
  margin: 0;
  font-size: 40px;
  font-weight: normal;
}
.outerMostBox {
  width: 75em;
}
.outerSecondBox {
  width: 75em;
}
.smallIcon {
  width: 15px;
  height: 15px;
}
.XLIcon {
  width: 20px;
  height: 20px;
}
.topNavigation {
  width: 100%;
  height: 3em;
  background-color: rgba(255, 255, 255, 0.94);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2em;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.3), 0 0 6px 2px rgba(0, 0, 0, 0.274);
  margin-bottom: 1em;
}
.topNavigation .findBigBox {
  margin-left: 3em;
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f5;
}
.topNavigation .findBigBox .findBox {
  border: none;
  outline: medium;
  height: 1.5em;
  width: 15em;
  background-color: transparent;
  font-size: 18px;
}
.topNavigation .findBigBox .findIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.topNavigation .findBigBox .findBox:focus {
  border: none;
  outline: medium;
  height: 1.5em;
  width: 15em;
  background-color: transparent;
  font-size: 18px;
}
.topNavigation .navigations {
  margin-left: 10em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.topNavigation .navigations .topA_DIV {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 3em;
  width: 5em;
  text-decoration: none;
}
.topNavigation .navigations .topA_DIV .findIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
