.sFont {
  margin: 0;
  font-size: 10px;
  font-weight: normal;
}
.normalFont {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}
.normalFontHav {
  margin: 0;
  font-size: 23px;
  font-weight: bolder;
}
.normalFontHavW {
  color: #f53535;
  margin: 0;
  font-size: 23px;
  font-weight: bolder;
}
.XFont {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
.XlFont {
  margin: 0;
  font-size: 25px;
  font-weight: normal;
}
.XXFont {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
}
.XXXFont {
  margin: 0;
  font-size: 40px;
  font-weight: normal;
}
.outerMostBox {
  width: 75em;
}
.outerSecondBox {
  width: 75em;
}
.smallIcon {
  width: 15px;
  height: 15px;
}
.XLIcon {
  width: 20px;
  height: 20px;
}
.LimgPostBox {
  width: 50em;
  border-style: solid;
  border-width: 1.5px;
  border-color: black;
  height: 15em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.LimgPostBox .imgBox {
  width: 40%;
  height: 100%;
}
.LimgPostBox .imgBox .img {
  width: 100%;
  height: 100%;
}
.LimgPostBox .textBox {
  width: 60%;
  text-align: left;
  height: 50%;
  text-decoration: none;
  color: black;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  border-style: solid;
  border-width: 1.5px;
  border-color: black;
}
.LimgPostBox .textBox .leftPostTitles {
  color: #eb7350;
  position: static;
}
