@import "../../publishCss.less";

.loginBox {
    .flexStyleClum(@ju: center);
    .borderLook();
    background-color: #ececec8e;
}

.fontBox {
    .normalFont();
    .flexStyleClum();
    background-color: white;
    width: 90%;
    height: 10em;
}

.regStyle(){
    outline: none;
    border: none;
    color: orange;
    .sFont();
}
.regText {
    text-decoration: none;
    .regStyle();
}
.regText:hover {
    text-decoration: none;
    .regStyle();
}

.fontRow{
    .flexStyleRow();
    .borderLook(#bbbbbb);
    margin: 5px 0;
}
.iconBox{
    .flexStyleRow();
    width: 30px;
    padding-left: 10px;
    height: 30px;
}
.fontInput{

    height:20px;
    outline:none;
    border: none;
}
