@import "../../publishCss.less";

.loginBox {
    .flexStyleClum(@ju: center);
    .borderLook();
    background-color: #ececec8e;
}

.fontBox {
    .normalFont();
    .flexStyleClum();
    background-color: white;
    width: 90%;
    height: 10em;
}