.normalFont {
  color: black;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}
.normalFontHav {
  color: black;
  margin: 0;
  font-size: 23px;
  font-weight: bolder;
}
.XFont {
  color: black;
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
.XlFont {
  color: black;
  margin: 0;
  font-size: 25px;
  font-weight: normal;
}
.XXFont {
  color: black;
  margin: 0;
  font-size: 30px;
  font-weight: normal;
}
.XXXFont {
  color: black;
  margin: 0;
  font-size: 40px;
  font-weight: normal;
}
.outerMostBox {
  width: 75em;
}
.outerSecondBox {
  width: 75em;
}
