.Box-outside {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    background-color: rgba(236, 174, 115, 0.596);
    padding: 2em  0.8em;
    border-radius: 10px;
    /* justify-content: space-between; */
}

.buttons {
    width: 10em;
    height: 3em;
    background-color: rgb(250, 247, 243);
    margin-bottom:  1em;
    border-color: white;
    border-radius: 1em;
}

.buttons :hover {
    background-color: rgb(241, 141, 9);
}